<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- 스크린샷 테스트를 위한 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Native 라이브러리 테스트를 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        
        <!-- Dropshots 테스트를 위한 Activity -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:hardwareAccelerated="true" />
            
    </application>
</manifest>
