<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Minimal permissions for testing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        
        <!-- No custom activity needed - tests will use MainActivity from main manifest -->
            
    </application>
</manifest>
