<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Permissions for screenshot testing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Permissions for native library testing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        
        <!-- Activity for Dropshots testing -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:hardwareAccelerated="true"
            tools:replace="android:exported,android:theme" />
            
    </application>
</manifest>
