# Based on KotlinConf App workflow
# https://github.com/JetBrains/kotlinconf-app/blob/main/.github/workflows/web-deploy.yml
name: Deploy Docs

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'cloudy/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: { }

jobs:
  build:
    name: Build Kotlin/Wasm Docs
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Upgrade Yarn Lock
        run: ./gradlew kotlinWasmUpgradeYarnLock

      - name: Build WASM
        run: ./gradlew :docs:wasmJsBrowserDistribution --stacktrace

      - name: Fix permissions
        run: |
          chmod -v -R +rX "docs/build/dist/wasmJs/productionExecutable/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/build/dist/wasmJs/productionExecutable

  deploy:
    name: Deploy to GitHub Pages
    needs: build

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
